.app-grid-container {
  border: 1px lightgray solid;
  display: grid;
  grid-template-rows: [start] 60px [line1] auto [end];
  height: 97vh;
  max-height: 100%;
  max-width: 100%;
  width: 100vw;
}

.app-grid-item-header {
  grid-row: start / line1;
}

.app-grid-item-page {
  grid-row: line1 / end;
  overflow-y: scroll;
}

.app-header {
  
}

.app-header-toolbar {
  display: flex;
  justify-content: space-between;
}
