.message-grid-container {
  display: grid;
  grid-template-rows: [start] auto [line1] 60px [end];
  height: 100%;
  width: 100%;
}

.message-grid-item-list {
  background-color: white;
  grid-row: start / line1;
}

.message-grid-item-input {
  background-color: lightgray;
  grid-row: line1 / end;
}

.message-list {
  max-height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}

.message-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
